<!DOCTYPE html>
<html>
  <head>
    <title>BookerTwo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
    tailwind.config = {
      theme: {
    screens: {
      'md': '860px',
      }
     }
    }
    </script>
  </head>

  <body>
    <div class="w-screen md:flex md:flex-col md:items-center">
      <%= yield %>
    </div>
  </body>
</html>
